.main-section {
    position: relative;
    min-height: 100vh;
    overflow: none;
}

.head-section {
    text-align: center;
}
.content-section {
    position: absolute;
    bottom: 0;
    min-width: 100vw;
}

.pull-right {
    text-align: right;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 60px;
}

p {
    margin-bottom: 0.2em;
    font-size: 22px;
}

@media (max-width: 760px) {
    .pull-right, h1 {
        text-align: center;
    }

    .head-section {
        margin-top: 20vh;
    }
}

video {
    position: fixed;
    top: -500px;
}